.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */

.app-container {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  text-align: center;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.video-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.video-info h2 {
  margin: 0 0 10px;
  color: #333;
}

.thumbnail {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.video-info p {
  margin: 10px 0;
  color: #555;
}

.watch-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.watch-link:hover {
  background-color: #218838;
}

.transcripts {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transcripts h3 {
  color: #333;
}

.transcripts ul {
  list-style-type: none;
  padding: 0;
}

.transcripts li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.transcripts p {
  margin: 5px 0;
  color: #555;
}
